{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Student Portal</title>

	<!-- favicon -->
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'main/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'main/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'main/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'main/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">

</head>

<style>
	.foobar {}
</style>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'home-page' %}">
								<img src="{% static 'main/img/logo.jpg' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'home-page' %}">Home</a>
								</li>

								<li><a href="{% url 'Questions-list-view' %}">Question</a>
									<ul class="sub-menu">
										<li><a href="{% url 'new_question' %}">Post Question</a></li>
										<li><a href="{% url 'Questions-list-view' %}">View Questions</a></li>
									</ul>
								</li>
								<li><a href="#">Referral</a>
									<ul class="sub-menu">
										<li><a href="{% url 'new_referral' %}">Ask for Referral</a></li>
										<li><a href="{% url 'give_referral' %}">Give Referral</a></li>
									</ul>
								</li>
								<li><a href="{% url 'jobs' %}">Hiring alert</a>
									<ul class="sub-menu">
										<li><a href="{% url 'jobs' %}">Jobs</a></li>
										<li><a href="{% url 'new_job' %}">Post Jobs</a></li>
										<li><a href="{% url 'internship' %}">Internship</a></li>
										<li><a href="{% url 'new_internship' %}">Post Internship</a></li>
									</ul>
								</li>

								{% if user.is_authenticated %}
								<li><a href="{% url 'Student-question-list' user.id %}">Your Profile</a>
									<ul class="sub-menu">
										<li><a href="{% url 'Student-question-list' user.id %}">Questions you asked</a>
										</li>
										<li><a href="{% url 'Student-answer-list' user.id %}">Your answers</a></li>
									</ul>
								</li>

								<li><a href="{% url 'logout' %}">Logout</a></li>
								{% endif %}

								<li>
									<div class="header-icons">
										<a class="mobile-hide search-bar-icon" href="#"><i
												class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							{% csrf_token %}
							<form action="{%url 'question_search'%}" method="get">
								<h3>Search For:</h3>
								<input name="question_search" type="text" placeholder="Keywords">
								<button type="submit">Search <i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	{% block content %} {% endblock %}

	<!-- features list section -->


	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Our aim is to help students find answers, get help in projects and ultimately get referrals
							and land a good job</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>304, SG-46, Bhavans Chamber</li>
							<li>support@onestop.com</li>
							<li>+91 9927843269</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Links</h2>
						<ul>
							<li><a href="{% url 'home-page' %}">Home</a></li>
							{% if user.is_authenticated %}
							<li><a href="{% url 'logout' %}">Logout</a></li>
							{% else %}
							<li><a href="{% url 'login' %}">Login</a></li>
							<li><a href="{% url 'register' %}">Register</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subcribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2021 - Adwait | Rutvik | Shubham | Yash</a>, All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="{% static 'main/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'main/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'main/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'main/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'main/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'main/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'main/js/main.js' %}"></script>

</body>

</html>