{% extends "main/base.html" %} {% block content%}

<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h1>All Questions</h1><br>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="latest-news mt-150 mb-150">
    <div class="container">
        <div class="row">
            {% for question in Question %}
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <div class="news-text-box">
                        <h3>{{ question.title }}</h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i>{{ question.student.username }}</span>
                            <span class="date"><i class="fas fa-calendar"></i>
                                {{question.date_posted}}</span>
                        </p>

                        <p class="excerpt"> {{ question.description }}</p>
                        
                        <a href="{%url 'Questions-detail' question.pk %}" class="read-more-btn">View Answers <i class="fas fa-angle-right"></i></a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
	
{% endblock content%}
