{% extends "main/base.html" %}
{% block content%}

<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Student</p>
					<h1>Register</h1><br>
					<p><a href="{% url 'login' %}">Login</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
	<div class="card-body">
		<div class="billing-address-form">
			{% for message in messages %}
			<div class="alert alert-secondary" role="alert">
				{{message}}
			</div>
			{% endfor %}

			<form method="post" action="{% url 'register' %}">
				{% csrf_token %}
				Username<br>
				<p><input name="username" type="text" placeholder="Username"></p>
				E-Mail<br>
				<p><input name="email" type="email" placeholder="E-Mail"></p>
				University<br>
				<p><input name="university" type="text" placeholder="University"></p>
				Graduation Year<br>
				<p><input name="g_year" type="number" placeholder="Graduation Year"></p>
				Password<br>
				<p><input name="password" type="password" placeholder="Password"></p>
				Confirm Password<br>
				<p><input name="confirm_password" type="password" placeholder="Confirm Password"></p>
				<p><input class="boxed-btn black" type="submit" value="Register"></p>

			</form>
		</div>
	</div>
</div>

{% endblock content%}